
/* добавляем небольшие отступы между рядами, а также между виджетом и графиком (друг над другом при сворачивании окна) */

.row {
    padding: 20px;
}

#chartdiv {
    padding-top: 20px;
}


.card-group {
    padding-top: 20px;
} 


/* визуально скрываем границы input в таблице */

input {
    border: none;
}


/* в остальном используются встроенные стили bootstrap */